<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(app|bootstrap|config|database|resources|routes|vendor|tests|artisan)(/|$) - [F,L]
    RewriteRule ^storage/(app|framework|logs)(/|$) - [F,L]
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
    RewriteRule ^(.*)$ /public/$1 [L]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_URI} !^/\.well-known/
    RewriteRule ^(.*)$ /public/$1 [L,QSA]
</IfModule>

<Files ".env">
    Require all denied
</Files>
